<!--<div id="container">-->
<!--  <div class="editor">Editor</div>-->
<!--  <div class="sidebar">Sidebar</div>-->
<!--</div>-->
<!--<div class="message">-->
<!--  <div class="centered">-->
<!--    <div class="row row-editor">-->
<!--      <div class="editor-container">-->
<!--        <div class="editor">-->
<!--        </div>-->
<!--        <div class="sidebar">-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<script src="../custom-ck-editor/build/ckeditor.js"></script>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CKEditor 5 collaboration with track changes</title>
    <style type="text/css">
    </style>
</head>

<body>
    <div id="container">
        <div id="editor"></div>
        <div id="sidebar"></div>
    </div>
</body>
</html>